<h1>Transactions</h1>

<div class="transactions-container">
    <% if @records.empty? %>
        <p>You don't have any transactions yet. Create one!</p>
    <% else %>
        <% @records.each do |record| %>
            <div class="transaction">
                <div class="transaction-info">
                    <p><%= record.name %></p>
                    <p><%= record.created_at.strftime("%d %B %Y") %></p>
                </div>
                <div class="transaction-actions">
                    <%= link_to "x", category_record_path(@category, record), data: { turbo_method: :delete } %>
                    <p><%= record.amount %> €</p>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<%= link_to "New transaction", new_category_record_path(@category), class: "button" %>
