<h1>All your categories</h1>

<div class="categories-container">
    <% if @categories.empty? %>
        <p>You don't have any categories yet. Create one!</p>
    <% else %>
    <% @categories.each do |category| %>
        <div class="category">
            <div class="category-icon">
                <% if category.icon %>
                    <%= image_tag category.icon, class: "category-icon" %>
                <% else %>
                    <i class="fas fa-folder"></i>
                <% end %>
            </div>
            <div class="category-info">
                <%= link_to category.name, category_records_path(category) %>
                <p><%= category.created_at.strftime("%d %B %Y") %></p>
            </div>
            <div class="category-actions">
                <%= link_to "x", category_path(category), data: { turbo_method: :delete } %>
                <p><%= category.records.count %> records</p>
            </div>
        </div>
    <% end %>
<% end %>

<%= link_to "New category", new_category_path, class: "button" %>
